<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to PlantPal!</title>
</head>

<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; margin: 0; padding: 0;">
<table width="100%" cellpadding="0" cellspacing="0"
       style="background-color: #ffffff; max-width: 600px; margin: 0 auto; border-collapse: collapse;">
    <tr>
        <td style="padding: 20px;">
            <h1>Welcome to PlantPal!</h1>
            Welcome <p th:text="${username}">${username}</p>!
            <p>Thank you for joining PlantPal, your ultimate destination for all things plants and accessories.</p>
            <p>Start exploring our wide range of products and find the perfect additions for your plant collection!
            </p>
            <p>Here's your unique chance to bring nature's beauty into your home.</p>
            <p>Happy shopping!</p>
            <p>Best regards,</p>
            <p>The PlantPal Team</p>
        </td>
    </tr>
</table>
</body>

</html>